 
<button mat-raised-button color="primary" (click)="back()">Back</button>

<div style="text-align: center; font-size: x-large; font-family: monospace; color: green;">
   
    <h1 appRxjsDirectory >Example of Subject And Behavior Subject in RxJs</h1>
</div>  
    <mat-divider></mat-divider>
<div style="margin:10px" class="card-deck">  
    <div class="row">
    <div class="col-sm-4">
        <app-courses></app-courses> <br> 

    </div>
    <div class="col-sm-4">
        <app-contactus></app-contactus> <br> 

    </div>
    <div class="col-sm-4">
            <app-technology></app-technology>  

    </div>
</div>
        
</div>
