<br><br>
<div class="container">
    <mat-card [class.mat-elevation-z2]="true" [class.mat-elevation-z9]="true">
<div class="row">
   


    <div class="col-md-10">
        <div class="mat-elevation-z8">
        <mat-card>
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-label>name</mat-label>
                    <mat-form-field color="primary" appearance="outline">
                        <input matInput placeholder="name" />
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
        </div>
    
   </div>


    <div class="col-md-2">
        <div class="mat-elevation-z8">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button class="btnalignmenttop" (click)="openDailog()"  color="primary">
                    <mat-icon>home</mat-icon><span matBadge="3" matBadgeColor="accent" matBadgeOverlap="false"> Open Dielog</span></button>

            </div>
            <div class="col-md-12">
                <button mat-raised-button class="btnalignmenttop" (click)="openDailog()"  color="primary">
                    <mat-icon>home</mat-icon><span matBadge="3" matBadgeColor="warn" matBadgeOverlap="false"> Open Dielog</span></button>

            </div>
          
        </div>
    </div>
    </div>
   
</div>

    </mat-card>
</div>
<br>

<cdk-virtual-scroll-viewport itemSize="100" class="container">
    <div *cdkVirtualFor="let num of number" class="number">
        {{num}}
    
    </div>
</cdk-virtual-scroll-viewport>
<br><br>


