.timer{
    background-color: azure;
    border: 1px solid green;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.changestyle{
    color: rgb(9, 179, 150);
  
}