<h1>Page not fount please enter the correct URL! ibney</h1>


  <!-- <mat-form-field color="primary" appearance="outline"> -->
                                              
                                     <!-- <input type="file" class="file-input" (change)="onFileSelected($event)" #fileupload/>
                                     <div class="file-upload">
                                        <button (click)="fileupload.click()">add file

                                        </button>

                                     </div> -->
                                          
                                       <!-- </mat-form-field> -->













                                       

                                        <!-- <input type="file" class="file-input" (change)="mapof($event)" #fileupload/>
                                    <div class="file-upload">
                                       <button (click)="fileupload.click()">add file

                                       </button>

                                    </div> -->