
<div class="container">
    
    <div class="row">
        <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="showTake()">TakeOperator</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary" (click)="showArray()">showArray</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Subject & Subjectbehavior Data</mat-card-header>
            <mat-card-content>Click on a button</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary" (click)="Subject()">Sub&BehviorSub</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Hostlintener & Hostbinding</mat-card-header>
            <mat-card-content>Click on a button</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary" (click)="hostlistener()">HostLintener</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Skip Untill</mat-card-header>
            <mat-card-content>Click on a button</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary" (click)="skipUntill()">SkipUntill</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Map Operators</mat-card-header>
            <mat-card-content>Click on a button</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary" (click)="map()">Map Operator</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr style="border: 4px solid gray;"/>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr style="border: 4px solid gray;"/>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr style="border: 4px solid gray;"/>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr style="border: 4px solid gray;"/>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr style="border: 4px solid gray;"/>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>Take Operators</mat-card-header>
            <mat-card-content>Click on a button to check Funtionality!</mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">show</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr style="border: 4px solid gray;"/>
    </div>
   
</div>